body {
	font: 16px $baseFont;
}
.tank {
	margin-top: 100px;
	h1 {
		font: $lg-font $specialty-font;
		letter-spacing: -1px;
		span {
			color: grey;
			font-size: 0.5em;
			letter-spacing: 7px;
			padding-left: 9px;

		}
	}
	.last_made-up {
		font-size: $mini-font;
		span {
			color: tomato;
			font-size: 1.4em;
			margin-right: 2px;
		}
	}
	.tds_list {
		li {
			font: $sm-font $baseFont;
		}
	}
	.process_control{
		h3 {
			font: $md-font $baseFont;
			font-weight: 300;
			letter-spacing: -1px;
		}
		li {
			font-size: 0.8em;
			color: grey;
		}
		li span {
			color: tomato;
		}
	}
}