.tank {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	display: flex;
	flex-wrap: wrap;
}
.tank_id {
	flex-basis: 50%;
	border-bottom: 1px solid black;
	position: relative;
	h1.application_type {
		margin: 0;
		padding: 5px 0;
	}
	span.tank_number {
		display: table-cell;
	}
	.last_made-up {
		position: absolute;
		bottom: -27px;
		left: 5px;
	}
}
.tds_list {
	flex-basis: 50%;
	li {
		float: right;
		margin: 52px 10px 0 0;
	}
}
.process_control{
	margin: 30px 29px;
	padding: 50px 0;
	h3 {
		margin: 0;
		padding: 0;
		cursor: pointer;
	}
	li {
		display: block;
		padding: 2px 10px 0;
	}
	ul {
		display: none;
	}
}
.data_records_list li {
	border: 1px solid grey;
	padding: 5px 10px 5px 28px;
	border-radius: 100px;
	margin: 5px 0;
	background: whitesmoke;
	position: relative;
	cursor: pointer;
	svg {
		height: 18px;
		width: 16px;
		position: absolute;
		left: 10px;
		top: 4px;
		fill: #FCB446;
	}
}
.table {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;
	margin: 0;
	.data {
		flex-basis: 50%;
	}
	.data:first-child {
		text-align: right;
		margin-right: 4px;
	}
	.data:nth-child(2) {
		text-align: left;
		margin-left: 4px;
		font-weight: 700;
	}
}
.remodal {
	padding: 35px 0;
}
.line1700 {	
	margin: 100px auto 0;
	position: relative;
	height: 500px;
	width: 90%;
	.tankSquare {
		width: 50px;
		height: 50px;
		background: blue;
		margin: 0;
		padding: 0;
		position: absolute;
		border: 1px solid black;
		a {
			color: white;
			text-decoration: none;
			text-align: center;
		}
    }
}
.t1701 {
	top: 0;
	left: 0;
}
.t1702 {
	top: 50px;
	left: 0;
}
.t1703 {
	top: 100px;
	left: 0;
}
.t1704 {
	top: 150px;
	left: 0;
}
.t1705 {
	top: 200px;
	left: 0;
}
.t1706 {
	top: 250px;
	left: 0;
}
.t1707 {
	top: 300px;
	left: 0;
}
.line1700 .t1708 {
	top: 350px;
	left: 0;
	width: 100%;
}
.t1709 {
	top: 300px;
	right: 0;
}
.t1710 {
	top: 250px;
	right: 0;
}
.t1711 {
	top: 200px;
	right: 0;
}
.t1712 {
	top: 150px;
	right: 0;
}
.t1713 {
	top: 100px;
	right: 0;
}
.t1714 {
	top: 50px;
	right: 0;
}
.t1715 {
	top: 0;
	right: 0;
}
.t1716 {
	top: -50px;
	right: 0;
}


	