/**********Colors************/
$accentColor         : #EE524B;
$cleanerOrganic      : rgba(186, 63, 29, 0.8);
$cleanerInorganic    : rgba(112, 163, 127, 0.8);
$electroPlating      : rgba(244,211,94, 0.8);
$electrolessPlating  : rgba(244,211,94, 0.8);
$rinse               : rgba(39, 93, 173, 0.8);
$chromate            : rgba(145,139,118, 0.8);
$seal                : rgba(75,0,130, 0.8);
$sourDip             : rgba(238,235,208, 0.8);




/**********Typography************/
$baseFont      :  'Noto Sans', sans-serif;
$specialty-font : 'Lato', sans-serif;
$thin           :  100;
$thick			:  700;
$lg-font        : 2.5em;
$md-font        : 1.2em;
$sm-font        : 1em;
$mini-font      : .7em;

/**********Mixins************/


/**********Extends************/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

/*********************Media Queries*********************/
$tablet-width : 768px;
$desktop-width : 1024px;

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}