/**********Colors************/
$accentColor         : #EE524B;
$cleanerTank         : rgba(255, 0, 0, 0.6);
$acidTank            : rgba(0, 255, 0, 0.6);
$platingTank         : yellow;
$rinseTank           : rgba(0, 0, 255, 0.6);
$chromateTank        : grey;
$sealTank            : purple;




/**********Typography************/
$baseFont      :  'Noto Sans', sans-serif;
$specialty-font : 'Lato', sans-serif;
$thin           :  100;
$thick			:  700;
$lg-font        : 2.5em;
$md-font        : 1.2em;
$sm-font        : 1em;
$mini-font      : .7em;

/**********Mixins************/


/**********Extends************/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

/*********************Media Queries*********************/
$tablet-width : 768px;
$desktop-width : 1024px;

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}